.calculator {


    display: flex;
    flex-wrap: wrap;

    background-color: rgb(255, 184, 176);
    padding: 5%;
    height: 400px;
    width: 220px;
    justify-content: center;
    align-items: center;


}

.display {

    background-color: rgb(198, 198, 198);
    flex: 1;
    padding: 20px;
    direction: rtl;
}

.btn {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
}

.operators {

    margin-right: auto;
    


}

.operator, .evaluate, .allClear, .delete {
    background-color: rgb(142, 142, 142);
}

.evaluate {


    display: inline-flex;
}


/* TODO:
make css look more aesthetically pleasing
add shadowing
have evaluation button extend out
have AC and del extend out and in same container as digits */